* {
    font-family: 'Anton', sans-serif;

}


.picture {
    display: grid;
    grid-template-columns: 10px 1fr 10px 1fr 10px 1.5fr 10px 1.5fr 10px 30px;
    grid-template-rows: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 0.5fr;
    width: 500px;
    height: 500px;
    box-shadow: 15px 15px 15px rgb(67, 67, 67);
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 10em;
}

.yellow {
    background-color: rgb(255, 213, 0);
}

.y1 {
    grid-area: 7 / 10 / 10 / 11;
}

.y2 {
    grid-area: 9 / 2 / 12 / 3;
}

.blue {
    background-color: rgb(48, 97, 170);
    grid-area: 5 / 6 / 8 / 9;
}

.red {
    background-color: red;
}

.red1 {
    grid-area: 1 / 1 / 2 / 5;
}

.red2 {
    grid-area: 9 / 6 / 12 / 9;
}

.white {
    background-color: white;
}

.wh1 {
    grid-area: 1 / 6 / 2 / 7;
}

.wh2 {
    grid-area: 1 / 8 / 2 / 9;
}

.wh3 {
    grid-area: 3 / 2 / 4 / 5;
}

.wh5 {
    grid-area: 3 / 6 / 4 / 9;
}

.wh6 {
    grid-area: 3 / 10 / 6 / 11;
}

.wh7 {
    grid-area: 5 / 2 / 6 / 5;
}

.black {
    background-color: black;
}

.bl1 {
    grid-area: 1 / 5 / 12 / 6;
}

.bl2 {
    grid-area: 1 / 7 / 2 / 8;
}

.bl3 {
    grid-area: 1 / 9 /12 /10;
}

.bl4 {
    grid-area: 2 / 1 / 3 / 11;
}

.bl5 {
    grid-area: 3 / 1 / 12 / 2;
}

.bl6 {
    grid-area: 4 / 1 / 5 / 9;
}

.bl7 {
    grid-area: 6 / 1 / 8 / 6;
}

.bl8 {
    grid-area: 8 / 1 / 9 / 9;
}

.bl9 {
    grid-area: 9 / 3 / 12 / 4;
}

.wh8 {
    grid-row: 9 / 12;
}

.wrap {
    display: grid;
    grid-template-columns: 15px min-content min-content 4fr 15px;
    grid-template-rows: 15px 0.4fr 0.1fr 0.1fr 1fr 140px 0.1fr 1.35fr;
    background-color: rgb(235, 235, 235);
    width: max-content;
    height: 800px;
    margin: 10em auto;

}

.grey_text {
    grid-area: 2 / 2 / 3 / 4;
    font-size: 3rem;
    line-height: 1;
}

.grey__lorem1 {
    grid-area: 3 / 2 / 4 / 4;
    font-size: 1rem;
}

.grey__lorem2 {
    grid-area: 4 / 2 / 5/ 4;
    font-size: 1rem;

}

.black_block {
    background-color: black;
    grid-area: 6 / 1 / 9 / 3;
}

.big_red {
    grid-area: 6 / 4 / 7 / 5;
    color: rgb(218, 55, 55);
    font-size: 10rem;
    width: max-content;
    margin-top: -51px;
    ;
}

.small_red {
    grid-area: 7 / 4 / 8 / 5;
    color: rgb(218, 55, 55);
    font-size: 2rem;
    width: max-content;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: minmax(400px, 1fr);
    gap: 10px;
    max-width: 1200px;
    margin: 10em auto;
}

.gallery__item {
    width: 400px;
}

.gallery__link {
    text-decoration: none;
    padding: 10px;
    border: 3px solid pink;
    width: 60px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    color: rgb(255, 109, 133);
}

.button {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    place-self: center;
    display: none;
}

.gallery__grid {
    display: grid;
    grid-template-rows: 200px auto 1fr;
    grid-template-columns: 1fr;
    width: 400px;
}

.gallery__grid:hover>.button {
    display: block;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "graphs links";
    margin: 0 auto;
    max-width: 1000px;
    box-shadow: 15px 15px 15px rgb(67, 67, 67);
    overflow: hidden;
    border-radius: 10px;
}

.grid_container {
    grid-area: graphs;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
}

.item_1 {
    grid-column: 1 / -1;
    width: 100%;
}

.item_2 {
    grid-column: span 2;
    grid-row: 2 / 3;
    width: 100%;
}

.item_3 {
    grid-row: 3 / 4;
    grid-column: span 3;
    width: 100%;
}

.newlinks {
    grid-area: links;
    padding: 20px;
    
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}